@import "tailwindcss";

:root {
  --sage-light: #AECA85;
  --sage-dark: #3A462E;
  --sage-medium: #768E52;
  --cream: #F2F2E5;
  --background: #F2F2E5;
  --title: #768E52;
}

.dark {
  --sage-light: #677954;
  --sage-dark: #B6D48C;
  --sage-medium: #8B9A7A;
  --cream: #2c2a2a;
  --background: #424743;
}

* {
  font-family: Inter;
}
.bg-gradient-cream-sage {
  background-image: linear-gradient(
    to bottom,
    var(--cream),
    rgba(187, 189, 149, 0.5) 
  );
}
.bg-gradient-cream-sage-card {
  background-image: linear-gradient(
    to bottom,
    var(--cream),
    rgba(187, 189, 149, 0.6) 
  );
}


.bg-sage-light { background-color: var(--sage-light); }
.bg-sage-dark { background-color: var(--sage-dark); }
.bg-sage-medium { background-color: var(--sage-medium); }
.bg-cream { background-color: var(--cream); }
.bg-background { background-color: var(--background); }

.text-sage-light { color: var(--sage-light); }
.text-sage-dark { color: var(--sage-dark); }
.text-sage-medium { color: var(--sage-medium); }
.text-cream { color: var(--cream); }

.border-sage-medium { border-color: var(--sage-medium); }
.border-sage-light { border-color: var(--sage-light); }
.border-sage-dark { border-color: var(--sage-dark);}

.hover\:bg-sage-dark:hover {
  background-color: var(--sage-dark);
}
.hover\:bg-sage-medium:hover {
  background-color: var(--sage-medium);
}
.hover\:text-sage-dark:hover {
  color: var(--sage-dark);
}
.hover\:text-cream:hover {
  color: var(--cream);
}
